In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
from country_code_3166 import ISO3166

### Import data

In [ ]:
raw = pd.read_csv('./Data_salaries.csv')

### Explore data

In [ ]:
raw.info()

In [ ]:
raw.shape

In [ ]:
raw.head(2)

In [ ]:
print('Salary in USD:')
print(' Mean: {mean}'.format(mean=raw['salary_in_usd'].mean()))
print(' Min : {min}'.format(min=raw['salary_in_usd'].min()))
print(' Max : {max}'.format(max=raw['salary_in_usd'].max()))

In [ ]:
raw.describe()

### Data Cleaning

### Replace columns and Data wragling

#### Replace Experience level

In [ ]:
# raw['experience_level'].unique()
exp_lvl = {
    'EN':'Entry-level / Junior',
    'MI':'Mid-level /Intermediate',
    'SE':'Senior-level/ Expert',
    'EX':'Executive-level / Director'
}
raw['experience_level'].replace(exp_lvl,inplace=True)
# raw.head(2)

#### Replace Employement type

In [ ]:
# raw['employment_type'].unique()
emp_lvl = {
    'PT': 'Part-time', 
    'FT': 'Full-time', 
    'CT': 'Contract', 
    'FL': 'Freelance'
}
raw['employment_type'].replace(emp_lvl,inplace=True)
# raw.head(2)

#### Replace employee residence & company location

In [ ]:
raw['employee_residence'].replace(ISO3166, inplace=True)
raw['company_location'].replace(ISO3166, inplace=True)
# raw.head(2)

#### Replace Company size

In [ ]:
# raw['company_size'].unique()
raw["company_size"].replace({'L':'Large','M':'Medium','S':'Small'},inplace=True)
# raw.head(5)

#### Replace Remote Ratio

In [ ]:
raw['remote_ratio'].replace({0:'Not at all',50:'Somthimes',100:'Totally Remote'},inplace=True)

### Sort by salary

In [ ]:
raw.sort_values(by=['salary_in_usd'], ascending=False,inplace=True)

In [ ]:
raw.head(5)

### Save the output

In [ ]:
# raw.to_excel('Data_salaries_output.xlxs',sheet_name="salaries")
# # 
# with pd.ExcelWriter('Data_salaries_output.xlxs',engine='xlsxwriter') as excel_writer:
#     raw.to_excel(excel_writer, sheet_name='salaries', index=False)
raw.to_csv('Data_salaries_output.csv')